Repository lloydchang/cloud-networking-control-plane-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-site, lint-python, security-scan

generate-site:
  name: Generate site from TESTING.md
  entry: python control-plane/scripts/generate_site.py
  language: system
  pass_filenames: false
  always_run: false

lint-python:
  name: Lint Python files
  entry: make lint
  language: system
  pass_filenames: false

security-scan:
  name: Security scan
  entry: make security-scan
  language: system
  pass_filenames: false

Test pre-commit hooks workflow
  .pre-commit-config.yaml
  control-plane/scripts/generate_site.py
  docs/TESTING.md
  docs/index.html
Due: generate-site, lint-python, security-scan

Complete pre-commit hooks implementation with coverage sync
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

Fix logo rendering on GitHub Pages
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

Fix logo rendering with proper SVG inlining
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

Remove obsolete scenario script references
  control-plane/scripts/generate_site.py
Due: lint-python, security-scan

Fix UI/UX issues in Documentation Hub
  control-plane/api/ui/vpc.html
  docs/index.html
Due: none

Fix Documentation Hub links and remove redundant buttons
  control-plane/api/ui/vpc.html
  docs/index.html
Due: none

Update Documentation Hub to use Vercel URLs and rename API Docs
  control-plane/api/ui/vpc.html
  docs/index.html
Due: none

Update VPC.md to match current scenarios in index.html
  docs/VPC.md
Due: none

Complete VPC.md with all scenarios from template
  docs/VPC.md
Due: none

Fix scenario synchronization between VPC.md and index.html
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

Update VPC.md to accurately reflect all 36 scenarios from index.html
  docs/VPC.md
Due: none

Implement dynamic architecture loading in Documentation Hub
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

docs: remove outdated info in VPC.md
  docs/VPC.md
Due: none

Move ReDoc and Docs buttons to tab row in Documentation Hub
  control-plane/api/ui/vpc.html
  docs/index.html
Due: none

Fix ReDoc and Docs button styling to match tab buttons
  control-plane/api/ui/vpc.html
  docs/index.html
Due: none

Remove misleading Refresh buttons from VPC interface
  control-plane/api/ui/vpc.html
  docs/index.html
Due: none

Implement GitHub Pages to Vercel redirect for better UX
  README.md
  control-plane/api/ui/vpc.html
  docs/index.html
Due: none

feat: Add proper ASCII diagram rendering for ARCHITECTURE.md
  control-plane/api/rest_api_server.py
  control-plane/api/ui/vpc.html
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

Remove unnecessary redirect and fix CORS issues
  README.md
Due: none

fix: Properly render ASCII diagrams in code blocks on GitHub Pages
  control-plane/scripts/generate_site.py
Due: lint-python, security-scan

fix: Properly convert ASCII diagrams to HTML with fenced_code extension
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

fix: Add CSS styling for codehilite blocks to render diagrams properly
  control-plane/api/rest_api_server.py
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

trigger: Force Vercel redeployment to pick up architecture processing fixes
  README.md
Due: none

debug: Add logging to troubleshoot Vercel architecture processing
  control-plane/api/rest_api_server.py
Due: lint-python, security-scan

fix: Add robust path detection for ARCHITECTURE.md in Vercel
  control-plane/api/rest_api_server.py
Due: lint-python, security-scan

fix: Fetch ARCHITECTURE.md from GitHub in Vercel environment
  control-plane/api/rest_api_server.py
Due: lint-python, security-scan

feat: Implement client-side markdown rendering for better performance
  control-plane/api/rest_api_server.py
Due: lint-python, security-scan

feat: Add client-side markdown rendering to GitHub Pages generator
  control-plane/scripts/generate_site.py
Due: lint-python, security-scan

feat: Create hybrid architecture view - combine original content with ARCHITECTURE.md
  control-plane/api/rest_api_server.py
  control-plane/scripts/export_static_dashboard.py
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

fix: Add beautifulsoup4 dependency to resolve Vercel deployment error
  control-plane/api/requirements.txt
Due: none

feat: Add comprehensive markdown tabs for all documentation
  control-plane/api/rest_api_server.py
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

fix: Move BeautifulSoup import to module level to resolve Vercel NameError
  control-plane/api/rest_api_server.py
Due: lint-python, security-scan

fix: GitHub Pages markdown rendering by using raw GitHub URLs and proper JS embedding
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

fix: Restore server-side HTML rendering for consistent markdown display
  control-plane/api/rest_api_server.py
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

fix: Move ReDoc and Docs buttons to end of navigation tabs row
  control-plane/api/rest_api_server.py
  control-plane/api/ui/vpc.html
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

feat: Add README.md and LICENSE tabs to documentation hub
  control-plane/api/rest_api_server.py
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

refactor: Rename files for consistency and fix UI issues
  README.md
  control-plane/api/rest_api_server.py
  control-plane/api/ui/vpc.html
  control-plane/scripts/generate_site.py
  docs/API_GUIDE.md
  docs/NETWORKING.md
  docs/index.html
Due: lint-python, security-scan

fix: Update JavaScript arrays to include all new tabs for proper rendering
  control-plane/api/rest_api_server.py
  control-plane/api/ui/assets/openapi.json
  control-plane/api/ui/vpc.html
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

Refactor: Remove BeautifulSoup dependency and simplify API server
  .github/workflows/auto-commit.yml
  auto-commit.sh
  control-plane/api/requirements.txt
  control-plane/api/rest_api_server.py
  control-plane/scripts/generate_site.py
  control-plane/scripts/requirements.txt
  docs/index.html
Due: lint-python, security-scan

Path conditions:
  generate-site: any of: docs/TESTING.md
  lint-python: any of: \.py$
  security-scan: any of: \.py$
