Repository lloydchang/cloud-networking-control-plane-simulator: changes, and which pre-commit hooks are due for each by the changed paths.
All: generate-site, lint-python, security-scan

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generate-site
        name: Generate site from TESTING.md
        entry: python control-plane/scripts/generate_site.py
        language: system
        files: docs/TESTING.md
        pass_filenames: false
        always_run: false
        
      - id: lint-python
        name: Lint Python files
        entry: make lint
        language: system
        files: \.py$
        pass_filenames: false
        
      - id: security-scan
        name: Security scan
        entry: make security-scan
        language: system
        files: \.py$
        pass_filenames: false

Fix markdown rendering in alerts and restore documentation spacing
  control-plane/scripts/generate_site.py
  docs/index.html
Due: lint-python, security-scan

True restoration of dashboard fidelity
  docs/index.html
  tests/fixtures/known_good_vpc_data.json
Due: none

style(ui): reduce propagation label offset to fix overlap
  control-plane/api/ui/vpc.html
  docs/index.html
Due: none

feat(ui): add hard refresh disclaimer to footer
  control-plane/api/ui/vpc.html
  docs/index.html
Due: none

UI: Shift 'Propagations' labels in Scenario 12 to avoid obscuration
  docs/index.html
Due: none

docs: fix typos and inconsistencies in ARCHITECTURE.md diagram
  docs/ARCHITECTURE.md
Due: none

fix: resolve port inconsistency in server-3 and IP discrepancies in architecture docs
  docker-compose.yml
  docs/ARCHITECTURE.md
Due: none

fix: synchronize architecture docs with configuration and add glossary
  docs/ARCHITECTURE.md
  tests/test_doc_synchronization.py
Due: lint-python, security-scan

docs: fix typo in NETWORKING.md and update synchronization tests
  docs/NETWORKING.md
  tests/test_doc_synchronization.py
Due: lint-python, security-scan

fix: resolve regressions and add contract tests
  control-plane/api/rest_api_server.py
  control-plane/api/shared_api_logic.py
  control-plane/tests/test_integration_polyglot.py
  docs/ARCHITECTURE.md
  docs/NETWORKING.md
  docs/TESTING.md
  docs/index.html
  tests/test_global_synchronization.py
Due: generate-site, lint-python, security-scan

fix: standardize docs titles and fix scenario count regression
  control-plane/api/ui/vpc.html
  control-plane/scripts/generate_site.py
  control-plane/tests/test_documentation_consistency.py
  docs/ARCHITECTURE.md
  docs/NETWORKING.md
  docs/TESTING.md
  docs/index.html
  tests/fixtures/known_good_index.html
Due: generate-site, lint-python, security-scan

fix: resolve regressions and add contract tests
  control-plane/tests/test_documentation_consistency.py
  docs/index.html.backup
Due: lint-python, security-scan

test: add documentation consistency suite and update docs
  control-plane/tests/test_documentation_consistency.py
Due: lint-python, security-scan

fix
  docs/index.html
Due: none

fix
  README.md
Due: none

Create placeholder
  .jules/placeholder
Due: none

Revert "🛡️ Sentinel: Serve index.html from local filesystem"
  control-plane/api/rest_api_server.py
  control-plane/tests/test_rest_api.py
Due: lint-python, security-scan

Revert "Revert "🛡️ Sentinel: Serve index.html from local filesystem""
  control-plane/api/rest_api_server.py
  control-plane/tests/test_rest_api.py
Due: lint-python, security-scan
